/* =============
    Typography
============= */
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

//font-family: 'Montserrat', sans-serif;
//font-family: 'Playfair Display', serif;