/* =============
    Section 8
============= */
#section-8 {
    background-image: url(../img/ny.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 30px;

    @include md {
        height: 100vh;
    }

    @include lg {
        height: 100vh;
    }

    @include xl {
        height: 100vh;
    }

    >h1 {
        font-size: 2.2em;
        padding-bottom: 10px;
        text-align: center;

        @include md {
            font-size: 5em;
        }
    }

    #section-8-text {
        background-color: rgba(241, 96, 122, 0.89);
        font-size: 1em;
        font-weight: 100;
        line-height: 1.3em;
        padding: 20px;

        >p {
            padding-bottom: 10px;
            text-align: left;

            @include md {
                padding-bottom: 30px;
            }
        }

        >h5 {
            font-size: 1em;
            font-weight: 500;
            text-align: left;
        }

        @include md {
            font-size: 1.7em;
            margin: 20px;
            padding: 40px 50px;
        }

        @include lg {
            font-size: 1.4em;
            margin: 20px 60px 0px;
            padding: 40px 60px;
        }

        @include xl {
            font-size: 1.4em;
            margin: 20px 180px 0px;
            padding: 40px 60px 20px;
        }
    }
}