/* =============
    Section 3
============= */
#section-3 {
    border-bottom: solid;
    border-color: $pink;
    border-top: solid;
    border-width: 15px;
    border-color: $pink;

    #section-3-content {
        padding-top: 40px;

        @include md {
            display: grid;
            grid-template-areas: "section-3-img section-3-right";
            grid-template-columns: 55% auto;
            padding: 40px 20px;
        }
    }

    #section-3-img {
        background-image: url('../img/ferriswheel2.jpg');
        background-position: center;
        background-size: 200%;
        clip-path: circle(180px at center);
        color: white;
        height: 40vh;
        padding: 30px 30px 0px 30px;

        @include md {
            clip-path: circle(235px at center);
        }

        @include lg {
            clip-path: circle(255px at center);
            padding: 60px;
        }
    }

    #section-3-right {
        img {
            width: 35px;
        }

        #section-3-text {
            font-size: 1.15em;
            line-height: 2em;
            padding: 0px 20px 0px 25px;

            @include md {
                font-size: 1.2em;
                padding: 0px 50px 5px 40px;
            }


            @include lg {
                font-size: 1.2em;
                padding: 0px 30px 5px 20px;
                line-height: 2.3em;
            }
        }

        #qtop {
            margin: 20px 0px 10px 10px;
            @include md {
                margin: 70px 0px 0px 30px; 
            }

            @include lg {
                margin: 120px 0px 0px -20px; 
            }
        }

        #qbottom {
            margin: 20px 30px 20px 360px;
            @include md {
                margin: 0px 0px 0px 330px;
            }

            @include lg {
                margin: 0px 0px 0px 390px; 
            }
        }
    }
}