/* =============
    Section 1
============= */
#section-1 {
    background-color: black;
    background-image: url('../img/ferriswheel.jpg');
    background-position: 0px 160px;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    height: 45vh;

    >h1 {
        color: $pink;
        font-size: 3.5em;
        padding-top: 80px;

        @include md {
            font-size: 6em;
        }

        @include lg {
            padding-top: 120px;
        }
    }

    >h2 {
        font-family: 'Playfair Display', serif;
        margin-top: -20px;
        padding-top: 20;

        @include md {
            font-size: 2.5em;
            margin-top: -30px;
        }
    }

    >h3 {
        font-size: .9em;
        font-weight: 100;
        padding-top: 15px;

        @include md {
            font-size: 1.7em;
        }
    }

    @include md {
        background-position: 0px 190px;
        height: 54vh;
    }

    @include lg {
        background-position: 0px 190px;
        height: 65vh;
    }

    @include xl {
        background-position: 0px 110px;
        height: 95vh;
    }
}