/* =============
    Section 7
============= */
#section-7 {
    display: grid;
    grid-template-columns: 20% auto;
    margin-top: 10px;
    padding-bottom: 200px;
    position: relative;

    @include md {
        grid-template-columns: 20% auto;
        padding-bottom: 600px;
    }

    aside{
            
        @include md {
            font-size: 2em;
            padding-top: 60px;
            padding-left: 10px;
        }
        
        section{
            h1 {
                color: black;
                font-size: 3em;
                top: 0;
                left: 0;
                z-index: 1000;
                writing-mode: vertical-rl;
                text-orientation: mixed;
                padding-top: 70px;
                padding-left: 10px;
                
                @include md {
                    font-size: 4.5em;  
                }
            }
        }
    }


    #section-7-text {
        background-color: $pink;
        color: white;
        font-weight: 100;
        margin-top: 40px;
        padding: 20px 30px 130px;
        padding-bottom: 130px;


        >p {
            padding-bottom: 10px;
            text-align: left;
            @include md {
                padding-bottom: 30px;
                
            }
        }

        @include md {
            font-size: 2.2em;
            padding: 40px 60px 430px 50px;

        }
    }

    img {
        bottom: 60px;
        margin-left: 110px;
        position: absolute;
        width: 250px;

        @include md {
            bottom: 260px;
            margin-left: 250px;
            width: 650px;
        }
    }
}