/* =============
    Section 5
============= */
#section-5 {
    background-image: url(../img/headphones.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    display: grid;
    height: 40vh;
    padding: 20px 20px 70px 20px;

    @include md {
        background-size: 60%;
        padding: 60px 20px 200px;
    }

    @include lg {
        background-position: bottom;
        background-size: 50%;
        padding: 280px 40px 0px;
    }

    @include xl {
        background-position: bottom;
        background-size: 30%;
        padding: 280px 40px 20px;
    }

    p {
        font-weight: 100;
        padding: 10px;
        text-align: center;

        @include md {
            font-size: 1.75em;
            padding: 0px 24px 20px;
        }

        @include lg {
            font-size: 1.4em;
            padding: 0px 80px 40px;
        }

        @include xl {
            font-size: 1.4em;
            padding: 0px 160px 0px;
            padding-bottom: 10px;
        }
    }
}