/* =============
    Section 2
============= */
#section-2{
    display: grid;
    grid-template-areas: ". section-2 .";
    padding: 20px 30px ;
    border-top: solid;
    border-color: $pink;
    border-width: 40px;
    
   
}
