/* =============
    Section 5
============= */
#section-5 {
    background-image: url(../img/headphones.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    display: grid;
    height: 40vh;
    padding:20px 20px 70px 20px ;
  

    @include md {
        padding: 250px 20px;
        background-size: 70%;
    }

    p {
        font-weight: 100;
        padding: 10px;
        @include md{
            font-size: 1.6em;
            padding: 0px 20px;
          }
    }
}