/* =============
    Section 5
============= */
#section-5 {
    padding-top: 20px;

    @include md {
        background-size: 60%;
        padding: 60px 0px 40px;
    }

    @include lg {
        background-size: 30%;
        justify-content: center;
        padding: 160px 0px 0px;
    }

    @include xl {
        padding: 240px 0px 60px;
    }

    #bg {
        background-image: url(../img/headphones.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 60%;
        height: 60vh;
        justify-content: center;
        margin-top: -60px;
        position: absolute;
        width: 100%;

        @include md {
            background-size: 50%;
            padding: 0;
        }

        @include lg {
            background-size: 400px;
            justify-content: center;
        }

        @include xl {
            background-size: 450px;
            justify-content: center;
            padding-top: 100px;
        }
    }

    p {
        font-weight: 100;
        padding: 10px;
        text-align: center;
        z-index: 1000;

        @include md {
            font-size: 1.75em;
            padding: 0px 24px 20px;
        }

        @include lg {
            font-size: 1.4em;
            padding: 0px 200px 40px;
        }

        @include xl {
            font-size: 1.4em;
            margin-top: 30px;
            padding: 0px 200px 0px;
        }
    }

    #text-5 {
        @include lg {
            margin-top: 20px;
        }

        @include xl {
            margin-top: 80px;
        }
    }
}