/* =============
    Section 2
============= */
#section-2{
    display: grid;
    grid-template-areas: ". section-2 .";
    padding: 20px 30px ;
    border-top: solid;
    border-color: $pink;
    border-width: 40px;
    
    @include md{
        font-size: 1.75em;
        padding: 60px 60px;
        line-height: 1.2em;
    }

    @include lg{
        font-size: 1.75em;
        padding: 40px 80px;
        line-height: 1.4em;
    }
   
}
