/* =============
    Section 6
============= */
#section-6 {
    display: grid;
    grid-template-columns: 40% auto;
    margin-top: 40px;

    @include md {
        margin-top: 30px;
        grid-template-columns: 50% auto;
    }

    #section-6-h {
        color: $pink;
        font-size: 1.3em;
        margin-top: 20px;

        @include md {
            font-size: 4em;
            margin-top: -20px;
        }
    }

    #section-6-text {
        background-color: $pink;
        color: white;
        font-size: 0.9em;
        font-weight: 100;
        line-height: 1.2em;
        padding: 25px 15px;

        #p1 {
            padding-bottom: 10px;
            @include md {
                padding-bottom: 20px;
            }
        }

        #p2 {
            padding-bottom: 10px;
            @include md {
                padding-bottom: 20px;
            }
        }

        @include md {
            font-size: 1.6em;
            padding: 40px;
        }
    }
}

#section-6-bg {
    background-image: url("../img/food2.jpg");
    background-position: -140px 0px;
    background-repeat: no-repeat;
    background-size: 190%;
    height: 400px;
    margin-right: 100px;
    margin-top: -260px;

    @include md {
        background-size: 100%;
        margin-top: -440px;
        padding-bottom: 230px;
    }
}