/* =============
    Footer
============= */
footer {
    background-color: $pink;
    background-position: center;
    color: white;
    padding: 10px ;
    text-align: center;

    #footer-content {
        justify-content: space-between;
        list-style: none;

        h1 {
            color: white;
            font-size: .8em;
            padding-bottom: 20px;

            #white {
                color: white;
            }

            @include md {
                font-size: 2em;
                padding-right: 10px;
            }

            @include lg {
                padding: 0px;
            }
        }

        ul {
            align-items: center;
            display: flex;
            font-size: 1.5em;
            justify-content: space-evenly;
            list-style: none;
            padding: 5px;

            li {
                padding: 0px 10px;

                a:link,
                a:visited {
                    color: white;
                    font-size: 2em;
                    transition: 0.3s;
                }

                a:hover,
                a:active {
                    color: black;
                }
            }
        }

        @include md {
            align-items: center;
            display: flex;
            font-size: 1em;
            grid-area: footer;
            height: 100%;
            padding: 0px;
            text-align: center;
        }
        @include lg {
            align-items: center;
            display: flex;
            font-size: .6em;
            grid-area: footer;
            height: 100%;
            padding: 0px;
            text-align: center;
        }

        @include xl {
            align-items: center;
            display: flex;
            font-size: .6em;
            grid-area: footer;
            height: 100%;
            text-align: center;
        }
    }
}