/* =============
    Header
============= */
header {
    background-color: $pink;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;

    >div {
        display: grid;
        grid-template-areas: "logo burger"
            "nav nav";
        grid-template-columns: 80% auto;

        @include lg {
            grid-template-areas: "logo nav";
            grid-template-columns: 20% auto;
        }
#logo{
    width: 40px;
    align-content: center;
    margin-left: 20px;
    margin-top: 10px;

    @include lg{
        width: 60px;
    }
}

        #burger-container {
            align-items: center;
            display: flex;
            grid-area: burger;
            justify-content: flex-end;
            padding: 20px;

            @include lg {
                display: none !important;
            }

            i {
                cursor: pointer;
            }
        }

        #nav-container {
            background-color: $pink;
            display: none;
            grid-area: nav;
            padding: 20px;
            

            @include lg {
                background-color: $pink;
                display: block !important;
                
            }
        }
    }
}